 <main>
        <section>
            <div class="acerca">
               <figure >
                        <img src="https://i.pinimg.com/originals/2f/55/ec/2f55ec2e82a3b2bb78f5d964a81832d5.jpg" alt="ima1">
                </figure>
                <header>
                    <h2 id="a">SOBRE NUESTROS SERVICIOS</h2>
                    <h2 id="b">“GYPSUM”</h2>
                    <p align="center">Somos una empresa dedicados a la venta, instalación y 
                    remodelación de interiores en “GYPSUM”, nuestros trabajos 
                    son realizados por nuestro personal técnico , que es,
                     permanentemente capacitado, para así, poder brindar un
                      servicio de calidad a todos nuestros clientes. contamos
                       con los mejores materiales y accesorios 
                    en marcas internacionales  del mercado.</p>
                    <button>Promociones</button>  
                   
                </header>
            </div>