<div class="contactos">
                <h1 id="conta">Contáctos</h1>
                <p><strong>Dirección:</strong></p><p> <em>Sector Pomásqui cuatro Esquinas QUITO-ECUADOR </em> </p>
                <p><strong>Teléfono:</strong><a href="tel:000000000"> 022363041</a> </p>
                <p><strong>Celular:</strong><a href="tel:000000000"> 0992750966</a> </p>
                <p><strong>Correo Electrónico :</strong><a href="sancrilex@gmail.com"> sancrilex@gmal.com</a> </p>
               
               
               
               
            </div>
        </section>

    </main>