<body>
    <header id="inicio">
        <h1>DISEÑOS INNOVACION ROSARIO</h1>
        <h2>D.I.R.ARTE</h2>
        <h3>"Los detalles no son sólo detalles. Ellos hacen el <strong>DISEÑO</strong>". </h3>
        <button>Explorar</button>    
    </header>