<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gypsum-Cornisa-Rosario</title>
    <link rel="stylesheet" href="styles.css">
    
</head>

<body>
   {{> inicio }}
    <main>
        <section>
            <div class="acerca">
               <figure >
                        <img src="https://i.pinimg.com/originals/2f/55/ec/2f55ec2e82a3b2bb78f5d964a81832d5.jpg" alt="ima1">
                </figure>
                <header>
                    <h2 id="a">SOBRE NUESTROS SERVICIOS</h2>
                    <h2 id="b">“GYPSUM”</h2>
                    <p align="center">Somos una empresa dedicados a la venta, instalación y 
                    remodelación de interiores en “GYPSUM”, nuestros trabajos 
                    son realizados por nuestro personal técnico , que es,
                     permanentemente capacitado, para así, poder brindar un
                      servicio de calidad a todos nuestros clientes. contamos
                       con los mejores materiales y accesorios 
                    en marcas internacionales  del mercado.</p>
                    <button>Promociones</button>  
                   
                </header>
            </div>
            <div class="Servicios">
                <header>
                   <h2 id="revisa">Revisa</h2>
                   <h2>Nuestros  Productos</h2>
                    <p>PRECIOS ACCESIBLES Y NEGOCIABLES Gypsum-Cornisas-Rosario-CONSTRUYENDO TUS IDEAS</p>

                    
                </header>
                <figure id="pro">
                    <div>
                        <img src="imagenes/acabado.jpg" alt="rega">
                        <h3> Instalación de GYPSUM  </h3>
                        <h4>9.99$ metro cuadrado</h4>
                    </div>
                    <div>
                        <img src="imagenes/2pintura.jpg" alt="kin">
                        <h3>Pintura</h3>
                        <h4>5.99$ metro cuadrado</h4>
                    </div>
                    <div>
                        <img src="imagenes/Molde-de-pl-stico-para-yeso-3D-paneles-de-pared-decorativos-molde-de-pl-stico-para.jpg" alt="cora">
                        <h3>Paredes en 3D</h3>
                        <h4>8.99$ metro cuadrado</h4>
                    </div>
                   <center><button>Promociones</button> </center>  
                </figure>
            </div>
            <div class="contactos">
                <h1 id="conta">Contáctos</h1>
                <p><strong>Dirección:</strong></p><p> <em>Sector Pomásqui cuatro Esquinas QUITO-ECUADOR </em> </p>
                <p><strong>Teléfono:</strong><a href="tel:000000000"> 022363041</a> </p>
                <p><strong>Celular:</strong><a href="tel:000000000"> 0992750966</a> </p>
                <p><strong>Correo Electrónico :</strong><a href="sancrilex@gmail.com"> sancrilex@gmal.com</a> </p>
               
               
               
               
            </div>
        </section>

    </main>
   
   <footer>
     <div class="pie">
        DISEÑO INNOVACION ROSARIO DERECHOS RESERVADOS 
     </div> 
   </footer>

</body>
</html>